/* Coolors Exported Palette - coolors.co/5a7d7c-232c33-ffffff-999799-e5342d */

/* HSL */
$color1: hsla(178%, 16%, 42%, 1);
$color2: hsla(206%, 19%, 17%, 1);
$color3: hsla(0%, 0%, 100%, 1);
$color4: hsla(300%, 1%, 60%, 1);
$color5: hsla(2%, 78%, 54%, 1);

/* RGB */
$color1: rgba(90, 125, 124, 1);
$color2: rgba(35, 44, 51, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(153, 151, 153, 1);
$color5: rgba(229, 52, 45, 1);