.add-event {
    position: fixed;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 40px;
    padding-left: 30px;
    width: 25%;
    height: 100%;
    display:block;

    background-color:  #e6e6e6;
}

button{
  color: white;
  background-color: #9b1522;
  
}
h3{
  color: #9b1522;
}